{{#if addNewQuestion}}
<div class="well new-question">
<h1>New Question</h1>
<div>
  <form>
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="owner" class="edit-field" class="form-control"}}
    </div>
    
    <div class="form-group">
      <label for="title">Title:</label>
      {{input value=title id="title" class="edit-field" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      {{textarea value=content id="content" class="edit-field" class="form-control"}}
    </div>
    <button{{action 'saveQuestion'}} class="btn btn-success">Save</button>
    <button{{action 'cancel'}} class="btn btn-danger">Cancel</button>
  </form>
</div>
</div>
{{else}}
<button {{action 'questionFormShow'}} class="btn btn-warning" >New question</button>
{{/if}}