<div class="container">
<div class="well" id="display-querry">  
{{!-- <h2>{{model.title}} by {{model.author}}</h2> --}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{edit-question question=model edit="edit"}}
</div>

<h2>Answers</h2>


<ul>
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer}} 
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model }}
</div>

